<!DOCTYPE html>
<html lang="en">
<head>
    <title>Natural Language Processing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    ::placeholder {
        color: red;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="https://1.bp.blogspot.com/-uHOaQCwBgG4/Xd-R9cQuOlI/AAAAAAAAUGY/xGGB_PKdst0CTF5w4bplaPVRtgQzEd_RwCLcBGAsYHQ/s1600/12.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function clear_result() {
            $('.result').text('')
            $('textarea').text('')
        }
    </script>
</head>
<body>

<div class="container">
    <h1><p align="center">HỆ THỐNG NHẬN DẠNG NGÔN NGỮ</p></h1>
    <h2>Xử Lý Ngôn Ngữ Tự Nhiên | Giảng viên: Huỳnh Quang Đức</h2>

    <p align="center">Xử lý ngôn ngữ trong tài liệu của bạn.</p>
    <form method="post">
        <div class="form-group">
            <p><label for="txt">Nhập Tài Liệu:</label></p>
            <textarea input type="text" placeholder="Mời bạn nhập vào một ngôn ngữ bất kỳ !!!" class="form-control" rows="5" name="txt" id="txt">{{txt}}</textarea>
            <p align="center"><input type="submit" value="Xác Nhận" class="btn btn-success btn-lg" style="margin-top: 20px;">
                <input type="reset" value="Làm Mới" class="btn btn-default btn-lg" style="margin-top: 20px;" onclick="clear_result()"> </p>
        </div>
    </form>
    <p class="result">
    <h4> <p align="center">Dự đoán kết quả: </p> </h4>
        {% if language %}
            <p align="center">Ngôn ngữ này là: <strong>{{ language }}</strong></p>
        {% endif %}
        {% if language_code %}
            <p align ="center">Mã ghi tắt của ngôn ngữ: <strong>{{ language_code }}</strong></p>
        {% endif %}
        {% if score %}
            <p align="center">Điểm sau khi train: <em>{{ score }}</em></p>
        {% endif %}
        {% if error %}
            <p style="color: red;font-weight: bold;">{{error}}</p>
        {% endif %}
    </div>
</div>
<div class="container" style="margin-top:20px;">
    <p align="center">Danh sách những ngôn ngữ được hỗ trợ:</p>
    <pre>af als am an ar arz as ast av az azb ba bar bcl be bg bh bn bo bpy br bs bxr ca cbk ce ceb ckb co cs cv cy da de diq dsb dty dv el eml en eo es et eu fa fi fr frr fy ga gd gl gn gom gu gv he hi hif hr hsb ht hu hy ia id ie ilo io is it ja jbo jv ka kk km kn ko krc ku kv kw ky la lb lez li lmo lo lrc lt lv mai mg mhr min mk ml mn mr mrj ms mt mwl my myv mzn nah nap nds ne new nl nn no oc or os pa pam pfl pl pms pnb ps pt qu rm ro ru rue sa sah sc scn sco sd sh si sk sl so sq sr su sv sw ta te tg th tk tl tr tt tyv ug uk ur uz vec vep vi vls vo wa war wuu xal xmf yi yo yue zh</pre>
</div>
</body>
</html>